@import "../../styles/mixins";

.inner {
    padding-top: 10.5em;
    padding-bottom: 3em;
}

.title {
    font-size: 1.75em;
    text-transform: capitalize;
    font-weight: 700;
    @include media($max: "md") {
        font-size: 1.5em;
    }
}

