@import "../../styles/vars";
@import "../../styles/mixins";

.hero {
	width: 100%;
	margin-top: 7.4em;
	margin-bottom: 3em;
	background-image: url("../../assets/hero_bg.jpg");
	background-size: cover;
	background-position: center bottom;
	background-color: $gray;
	@include media($max: "md") {
		margin-top: 7em;
	}
}

.inner {
	width: 66.66667%;
    padding: 9em 0 15.6em 0;
	margin: 0 auto;
	@include media($max: "md") {
		width: 100%;
		padding: 5.5em 0 8.7em 0;
	}
	@include media($max: "xs") {
		padding: 3em 0 6.3em 0;
	}
}

.title {
	font-size: 2.875em;
	font-weight: 700;
	color: #fff;
	@include media($max: "md") {
		font-size: 1.5em;
	}
}

.text {
	font-size: 1.125em;
	margin-top: 0.88em;
	line-height: 1.7em;
	color: #fff;
	@include media($max: "md") {
		font-size: 0.93em;
		margin-top: 0.55em;
	}
}

.form {
	margin-top: 1.5em;
	border-radius: 0.25em;
	background-color: #f5f5f5;
	border: none;
	&:hover {
		box-shadow: 0 0 0 0.3em #0000001a;
	}
	&:focus-within {
		box-shadow: 0 0 0 0.3em #0003;
	}
	@include media($max: "md") {
		display: none;
	}
}

.searchBtn {
	padding: 1em 0 1em 1em;
}
