.inner {
	display: flex;
	margin-left: -1.5em;
}

.column {
	padding-left: 1.5em;
}

.photoSkeleton {
	&:not(:first-child) {
		margin-top: 1.5em;
	}
}

.modalContent {
	padding: 1em 7.5em 6.25em 7.5em;
}
