@import "../../styles/vars";
@import "../../styles/mixins";

.nav {
    display: flex;
	align-items: center;
	padding: 0 1.43em;
	color: $gray;
    @include media($max: "md") {
		padding: 0 0.85em;
	}
}

.topics {
	display: flex;
    align-items: center;
    overflow-x: hidden;
    &:first-child {
        min-width: fit-content;
        @include media($max: "md") {
            display: none;
        }
    }
}

.topic {
    position: relative;
	display: flex;
	align-items: center;
    padding: 1.5em 0;
	transition: color 0.1s;
    text-transform: capitalize;
    white-space: nowrap;
	&:hover {
		color: $black;
	}
}

.topicItem {
    &:not(:first-child) {
        margin-left: 1.7em;
    }
}

.active {
    box-shadow: inset 0 -2px 0 0 $black;
    color: $black;
    cursor: default;
}

.separator {
    width: 1px;
    height: 2em;
    margin: 0 1.7em;
    background-color: $light-gray;
    @include media($max: "md") {
        display: none;
    }
}