@import "../../styles/vars";
@import "../../styles/mixins";

.inner {
	position: relative;
	margin-bottom: 1.5em;
}

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
    z-index: -1;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(#fffc, #ffffffe6 50%, #fff);
	}
}

.coverImage {
    position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.top {
	padding: 7.8em 0 4.5em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include media($max: "md") {
        flex-direction: column;
        align-items: flex-start;
    }
}

.right {
    display: flex;
}

.title {
	font-size: 2.875em;
	line-height: 1.2;
	margin-bottom: 0.35em;
	font-weight: 700;
	@include media($max: "md") {
        font-size: 1.75em;
        margin-bottom: 0.4em;
    }
}

.description {
	font-size: 1.125em;
	line-height: 1.6;
	@include media($max: "md") {
        font-size: 0.93em;
    }
}

.user {
    margin-top: 1.4em;
	display: flex;
	align-items: center;
	@include media($max: "md") {
        margin-bottom: 0.8em;
    }
}

.avatar {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin-right: 0.5em;
}

.name {
	font-size: 0.93em;
	color: $gray;
	text-decoration: underline;
	transition: 0.1s;
	&:hover {
		color: $black;
	}
}

.button {
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875em;
	height: 2.28em;
    svg {
		width: 1.3em;
		height: 1.3em;
	}
	&:first-child svg {
		width: 1.6em;
		height: 1.6em;
	}
	&:not(:first-child) {
		margin-left: 0.57em;
	}
}

.buttonText {
	@include media($max: "md") {
		display: none;
	}
}